name: Build and Attach APK to Release

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: 3.41.0

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Run build_runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.SIGNING_KEY_STORE_BASE64 }}
        run: |
          echo "$ENCODED_STRING" | base64 --decode > android/app/keystore.jks

      - name: Build APK
        env:
           SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
           SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: flutter build apk --release --split-per-abi

      - name: Upload APK as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: app-arm64-v8a-release.apk
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk

      - name: Build appbundle
        env:
           SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
           SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
        run: flutter build appbundle

      - name: Upload appbundle as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: app-release.aab
          path: build/app/outputs/bundle/release/app-release.aab

  release:
    needs: build
    runs-on: ubuntu-latest
    # Only run this job if the commit message indicates a release-worthy change
    if: >
      startsWith(github.event.head_commit.message, 'feat:') ||
      startsWith(github.event.head_commit.message, 'feat!:') ||
      startsWith(github.event.head_commit.message, 'fix:') ||
      startsWith(github.event.head_commit.message, 'perf:') ||
      contains(github.event.head_commit.message, 'BREAKING CHANGE:')
    steps:
      # Checkout needed to read version from pubspec.yaml
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download APK from build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: app-arm64-v8a-release.apk
          path: ./apk

      - name: Download appbundle from build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: app-release.aab
          path: ./apk

      - name: Get Version from pubspec.yaml
        id: package_version
        run: |
          version=$(grep 'version:' pubspec.yaml | cut -d ' ' -f 2)
          echo "version=v$version" >> $GITHUB_OUTPUT # Prepend 'v' for tag name

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.package_version.outputs.version }}
          name: Release ${{ steps.package_version.outputs.version }}
          draft: false
          prerelease: false
          files: |
            ./apk/app-arm64-v8a-release.apk
            ./apk/app-release.aab

      - name: Upload .aab to Play Store Production Track
        if: ${{ !endsWith(github.event.head_commit.message, 'testrel') }}
        id: upload_production
        uses: ./.github/actions/upload-play-store
        with:
          service_account_json: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          package_name: fr.orvidia.shefu
          aab_file_path: ${{ github.workspace }}/apk/app-release.aab
          track: production
          release_status: completed
